/*!
 * AdminWebKit 1.0.0 - https://www.adminwebkit.com
 * License - https://opensource.org/licenses/MIT
 */

/* GENERIC */

:root {
  --text-primary: #112d4e;
  --bg-primary: #112d4e;
  --hover-primary: #1a406d;
  --text-secondary: #3f72af;
  --bg-secondary: #558bcc;
  --hover-secondary: #3f72af;
  --text-success: #29a019;
  --bg-success: #29a019;
  --hover-success: #3ab72a;
  --text-info: #a7b5ce;
  --bg-info: #a7b5ce;
  --hover-info: #c3cde0;
  --text-warning: #ddc825;
  --bg-warning: #ddc825;
  --hover-warning: #f4e14b;
  --text-danger: #d82424;
  --bg-danger: #d82424;
  --hover-danger: #e53939;
  --text-white: #ffffff;
  --bg-white: #ffffff;
  --color-main: #333;
  --bg-main: #eeeeee;
}

a {
  color: var(--text-primary) !important; 
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: var(--hover-primary) !important; 
  text-decoration: underline;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-main) !important; 
  background-color: var(--bg-main) !important; 
}

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 80px; /* Margin bottom by footer height */
}
.footer {
  border: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Nunito', sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 1.75rem;
}

h2, .h2 {
  font-size: 1.55rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.75rem;
}

h6, .h6 {
  font-size: 0.55rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.navbar-toggler span {
  color: var(--text-primary) !important;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: var(--text-primary) !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: var(--text-white) !important;
  text-decoration: none;
  background-color: var(--bg-primary) !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--text-white) !important;
  text-decoration: none;
  background-color: var(--bg-primary) !important;
}

.navbar a, .header a {
  font-family: 'Nunito', sans-serif;
}

.nav-item {
  margin-right: 1rem;
}

.navbar .user-avatar {
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
}

@media (max-width: 991.98px) {
  .header .nav-link span {
    display: none;
  }
}

.breadcrumb {
  background-color: var(--bg-main) !important;
  font-size: 0.75rem;
  padding: 0.55rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c1bbbb !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c1bbbb !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #c1bbbb !important;
}


/* end GENERIC */

/* TEXT AND BG */

.text-primary {
  color: var(--text-primary) !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: var(--hover-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: var(--hover-secondary) !important;
}

.text-success {
  color: var(--text-success) !important;
}

a.text-success:hover, a.text-success:focus {
  color: var(--hover-success) !important;
}

.text-info {
  color: var(--text-info) !important;
}

a.text-info:hover, a.text-info:focus {
  color: var(--hover-info) !important;
}

.text-warning {
  color: var(--text-warning) !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: var(--hover-warning) !important;
}

.text-danger {
  color: var(--text-danger) !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: var(--hover-danger) !important;
}

.text-white {
  color: var(--text-white) !important;
}

a.text-white:hover, a.text-white:focus {
  color: var(--text-white) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: var(--bg-secondary) !important;
}

.bg-success {
  background-color: var(--bg-success) !important;
}

a.bg-success:hover, a.bg-success:focus,
button.bg-success:hover,
button.bg-success:focus {
  background-color: var(--bg-success) !important;
}

.bg-info {
  background-color: var(--bg-info) !important;
}

a.bg-info:hover, a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
  background-color: var(--bg-info) !important;
}

.bg-warning {
  background-color: var(--bg-warning) !important;
}

a.bg-warning:hover, a.bg-warning:focus,
button.bg-warning:hover,
button.bg-warning:focus {
  background-color: var(--bg-warning) !important;
}

.bg-danger {
  background-color: var(--bg-danger) !important;
}

a.bg-danger:hover, a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
  background-color: var(--bg-danger) !important;
}

.bg-white {
  background-color: var(--bg-white) !important;
}

a.bg-white:hover, a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
  background-color: var(--bg-white) !important;
}

/* end TEXT AND BG */

/* Buttons */

.btn-primary {
  color: #fff !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: var(--hover-primary) !important;
  border-color: var(--hover-primary) !important;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-primary) !important;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-primary) !important;
}

.btn-secondary {
  color: #fff !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.btn-secondary:hover {
  color: #fff !important;
  background-color: var(--hover-secondary) !important;
  border-color: var(--hover-secondary) !important;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-secondary) !important;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-secondary) !important;
}

.btn-success {
  color: #fff !important;
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: var(--hover-success) !important;
  border-color: var(--hover-success) !important;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-success) !important;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff !important;
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-success) !important;
}

.btn-info {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
  border-color: var(--bg-info) !important;
}

.btn-info:hover {
  color: var(--text-primary) !important;
  background-color: var(--hover-info) !important;
  border-color: var(--hover-info) !important;
}

.btn-info:focus, .btn-info.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-info) !important;
}

.btn-info.disabled, .btn-info:disabled {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
  border-color: var(--bg-info) !important;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
  border-color: var(--bg-info) !important;
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-info) !important;
}

.btn-warning {
  color: #ffffff !important;
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
}

.btn-warning:hover {
  color: #ffffff !important;
  background-color: var(--hover-warning) !important;
  border-color: var(--hover-warning) !important;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-warning) !important;
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #ffffff !important;
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #ffffff !important;
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-warning) !important;
}

.btn-danger {
  color: #fff !important;
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: var(--hover-danger) !important;
  border-color: var(--hover-danger) !important;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-danger) !important;
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff !important;
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-white {
  color: var(--text-primary) !important;
  background-color: var(--bg-white) !important;
  border-color: var(--bg-white) !important;
}

.btn-white:hover {
  color: var(--text-primary) !important;
  background-color: var(--bg-white) !important;
  border-color: var(--bg-white) !important;
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-white) !important;
}

.btn-white.disabled, .btn-white:disabled {
  color: var(--text-primary) !important;
  background-color: var(--bg-white) !important;
  border-color: var(--bg-white) !important;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
  color: var(--text-primary) !important;
  background-color: var(--bg-white) !important;
  border-color: var(--bg-white) !important;
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-white) !important;
}

.btn-outline-primary {
  color: var(--text-primary) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-primary) !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-primary) !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: var(--text-primary) !important;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-primary) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-primary) !important;
}

.btn-outline-secondary {
  color: var(--text-secondary) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-secondary) !important;
}

.btn-outline-secondary:hover {
  color: var(--text-primary) !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-secondary) !important;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: var(--text-secondary) !important;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: var(--text-primary) !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-secondary) !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-secondary) !important;
}

.btn-outline-success {
  color: var(--text-success) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-success) !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-success) !important;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: var(--text-success) !important;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-success) !important;
}

.btn-outline-info {
  color: var(--text-info) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-info) !important;
}

.btn-outline-info:hover {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
  border-color: var(--bg-info) !important;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-info) !important;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: var(--text-info) !important;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
  border-color: var(--bg-info) !important;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-info) !important;
}

.btn-outline-warning {
  color: var(--text-warning) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-warning) !important;
}

.btn-outline-warning:hover {
  color: #ffffff !important;
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-warning) !important;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ffffff !important;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #ffffff !important;
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-warning) !important;
}

.btn-outline-danger {
  color: var(--text-danger) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-danger) !important;
}

.btn-outline-danger:hover {
  color: #fff !important;
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-danger) !important;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: var(--text-danger) !important;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff !important;
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-danger) !important;
}

.btn-outline-white {
  color: var(--text-white) !important;
  background-color: transparent;
  background-image: none;
  border-color: var(--bg-white) !important;
}

.btn-outline-white:hover {
  color: var(--text-primary) !important;
  background-color: var(--bg-white) !important;
  border-color: var(--bg-white) !important;
}

.btn-outline-white:focus, .btn-outline-white.focus {
  box-shadow: 0 0 0 0.2rem var(--bg-white) !important;
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
  color: var(--text-primary) !important;
  background-color: transparent;
}

.btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active,
.show > .btn-outline-white.dropdown-toggle {
  color: var(--text-primary) !important;
  background-color: var(--bg-white) !important;
  border-color: var(--bg-white) !important;
}

.btn-outline-white:not(:disabled):not(.disabled):active:focus, .btn-outline-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem var(--bg-white) !important;
}

.btn-link {
  font-weight: 400;
  color: var(--text-primary) !important;
  background-color: transparent;
}

.btn-link:hover {
  color: var(--text-primary) !important;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
  border-color: transparent;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

/* end Buttons */

/* CARDS */

.card {
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px 0 #ccc;
}

.card a {
  text-decoration: none !important;
}

.card-shadow {
  box-shadow: 0 1px 5px 0 #ccc;
}

.card-box {
  border: none !important;
  box-shadow: 1px 1px 25px 0 #ccc;
}

.list-group {
  box-shadow: 0 1px 2px 0 #ccc;
}

.border-top {
  border: none !important;
  border-top: 3px solid #ccc !important;
}

.border-right {
  border: none !important;
  border-right: 3px solid #ccc !important;
}

.border-bottom {
  border: none !important;
  border-bottom: 3px solid #ccc !important;
}

.border-left {
  border: none !important;
  border-left: 3px solid #ccc !important;
}

.border-primary {
  border-color: var(--bg-primary) !important;
}

.border-secondary {
  border-color: var(--bg-secondary) !important;
}

.border-success {
  border-color: var(--bg-success) !important;
}

.border-info {
  border-color: var(--bg-info) !important;
}

.border-warning {
  border-color: var(--bg-warning) !important;
}

.border-danger {
  border-color: var(--bg-danger) !important;
}

.border-none {
  border: none !important;
}

/* end CARDS */

/* BADGES */

.badge-primary {
  color: #fff;
  background-color: var(--bg-primary) !important;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: var(--bg-primary) !important;
}

.badge-secondary {
  color: #fff;
  background-color: var(--bg-secondary) !important;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: var(--bg-secondary) !important;
}

.badge-success {
  color: #fff;
  background-color: var(--bg-success) !important;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: var(--bg-success) !important;
}

.badge-info {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
}

.badge-info[href]:hover, .badge-info[href]:focus {
  color: var(--text-primary) !important;
  text-decoration: none;
  background-color: var(--bg-info) !important;
}

.badge-warning {
  color: #ffffff;
  background-color: var(--bg-warning) !important;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: var(--bg-warning) !important;
}

.badge-danger {
  color: #fff;
  background-color: var(--bg-danger) !important;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: var(--bg-danger) !important;
}

/* end BADGES */

/* ALERTS */

.alert-primary {
  color: #ffffff !important;
  background-color: var(--bg-primary) !important;
  border-color: var(--bg-white) !important;
}

.alert-primary hr {
  border-top-color: var(--bg-white) !important;
}

.alert-primary .alert-link {
  color: #ffffff !important;
}

.alert-secondary {
  color: var(--text-primary) !important;
  background-color: var(--bg-secondary) !important;
  border-color: var(--bg-primary) !important;
}

.alert-secondary hr {
  border-top-color: var(--bg-primary) !important;
}

.alert-secondary .alert-link {
  color: var(--text-primary) !important;
}

.alert-success {
  color: #ffffff !important;
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
}

.alert-success hr {
  border-top-color: var(--bg-white) !important;
}

.alert-success .alert-link {
  color: #ffffff !important;
}

.alert-info {
  color: var(--text-primary) !important;
  background-color: var(--bg-info) !important;
  border-color: var(--bg-primary) !important;
}

.alert-info hr {
  border-top-color: var(--bg-primary) !important;
}

.alert-info .alert-link {
  color: var(--text-primary) !important;
}

.alert-warning {
  color: #ffffff !important;
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
}

.alert-warning hr {
  border-top-color: var(--bg-white) !important;
}

.alert-warning .alert-link {
  color: #ffffff !important;
}

.alert-danger {
  color: #ffffff !important;
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
}

.alert-danger hr {
  border-top-color: var(--bg-white) !important;
}

.alert-danger .alert-link {
  color: #ffffff !important;
}

/* end ALERTS */

/* FORMS */

input {
  border: 1px solid #cecccc !important;
  line-height: 1.5 !important;
}

/* end FORMS */

/* iCheck */

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--bg-primary) !important;
}

.icheck-primary > input:first-child:checked + label::before,
.icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary) !important;
}

.icheck-secondary > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-secondary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--bg-secondary) !important;
}

.icheck-secondary > input:first-child:checked + label::before,
.icheck-secondary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--bg-secondary) !important;
    border-color: var(--bg-secondary) !important;
}

.icheck-success > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-success > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--bg-success) !important;
}

.icheck-success > input:first-child:checked + label::before,
.icheck-success > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--bg-success) !important;
    border-color: var(--bg-success) !important;
}

.icheck-info > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-info > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--bg-info) !important;
}

.icheck-info > input:first-child:checked + label::before,
.icheck-info > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--bg-info) !important;
    border-color: var(--bg-info) !important;
}

.icheck-warning > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-warning > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--bg-warning) !important;
}

.icheck-warning > input:first-child:checked + label::before,
.icheck-warning > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--bg-warning) !important;
    border-color: var(--bg-warning) !important;
}

.icheck-danger > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-danger > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--bg-danger) !important;
}

.icheck-danger > input:first-child:checked + label::before,
.icheck-danger > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--bg-danger) !important;
    border-color: var(--bg-danger) !important;
}

/* end iCheck */

/* Select */

.select-target {
  background-color: #ffffff !important;
}

.select-target.select-theme-default.select-target-focused, .select-target.select-theme-default.select-target-focused:focus {
  border-color: #cccccc;
  outline: none; 
}

.select.select-theme-default .select-options .select-option:hover, .select.select-theme-default .select-options .select-option.select-option-highlight {
  background: var(--bg-main) !important;
  color: #7c7979; 
}

/* end Select */

/* Profile */

.card-profile .card-cover {
  height: 12rem;
  background-size: cover;
}

.card-user-img {
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  max-width: 8rem;
  margin-top: -6rem;
  margin-bottom: 2rem;
}

/* end Profile */